@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500&display=swap');

body{
    background-color: #202023;
    text-align: center;
    color: white;
    font-size: 18px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
.logo:hover{
    color: #313134;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.pur{
    color: #c15097;
}
.role{
    background: #313134;
    border-style: none;
    border-color: #313134;
    color: white;
    border-radius: 10px;
    text-align: center;
    height: 50px;
    font-size: 20px;
}
.image{
    border-radius: 500px;
    width: 300px;
    transition: all 0.3s ease 0s;
}
.image:hover{
    opacity: 0.2;
    cursor: pointer;
}
h2{
    text-decoration: underline;
    text-decoration-color: #313134;
    text-decoration-thickness: 5px;
}
hr{
    width: 50px;
}
a{
    text-decoration: none;
    color: white;
}
a{
    color: #313134;
}
a, .projects{
    color: #c15097;
}
.rights{
    color: #69696b;
    font-size: 16px;
}
